<section id="error-page" class="mh80">
    <div class="container col-xs-12" style="background-color: white;padding-top: 8rem;padding-bottom: 9rem;text-align: center;margin-bottom: 3rem">
		<h1 style="font-size:10rem;">Oops!</h1>
		<small>404 Error</small>
		<p>SORRY, PAGE NOT FOUND...</p>
		<a href="\" role="button" class="btn btn-primary">Click here to go back</a>
	</div>
</section>
