<section id="publications" class="home-section mh90">
    <div class="container">
	<div class="row flex-c">
	
	<div class="col-xs-12 section-heading">
    <h1>Publications</h1>
    <p class="view-all">
	List of my peer reviewed publications.
    </p>   
	</div>
	
	<div class="col-xs-10 pub-list-item  align-c" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
		<i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i>
		<span itemprop="author" class="pub-by">
		By: Saldarriaga E.M.</span>
		<a href="https://annalsofglobalhealth.org/article/10.5334/aogh.3345/" itemprop="name" class="pub-title">
		<br>HIV-Prevalence Mapping Using Small Area Estimation in Kenya, Tanzania, and Mozambique at the First Sub-National Level</a>.
		<br>In <em>Annals Of Global Health</em>,
		2021.
		<p>
		<a class="btn btn-primary btn-outline btn-xs" href="https://annalsofglobalhealth.org/article/10.5334/aogh.3345/" target="_blank" rel="noopener">
			Read More
		</a>
		<a class="btn btn-primary btn-outline btn-xs" href="https://annalsofglobalhealth.org/articles/10.5334/aogh.3345/galley/3341/download/" target="_blank" rel="noopener">
			Download PDF
		</a>
		</p>
	</div>
<!--
	<div class="col-xs-3">
		<img class="featured-img-thumb" src="assets/images/sample2.jpg">
	</div>
-->
	<div class="col-xs-10 pub-list-item align-c" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
	<i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i>
	<span itemprop="author" class="pub-by">
	By: Miller M., Saldarriaga E.M., Jones-Smith J.C.</span>
	<a href="https://www.sciencedirect.com/science/article/pii/S2211335520301662?via%3Dihub" itemprop=" name"class="pub-title">
	<br>Household socioeconomic status modifies the association between neighborhood SES and obesity in a nationally representative sample of first grade children in the United States. Preventive Medicine Reports</a>.
	<br>In <em>ScienceDirect</em>,
	2020.
	<p>
	<a class="btn btn-primary btn-outline btn-xs" href="https://www.sciencedirect.com/science/article/pii/S2211335520301662?via%3Dihub" target="_blank" rel="noopener">
		Read More
	</a>
	<a class="btn btn-primary btn-outline btn-xs" href="https://pdf.sciencedirectassets.com/280666/1-s2.0-S2211335520X00052/1-s2.0-S2211335520301662/main.pdf?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEEAaCXVzLWVhc3QtMSJIMEYCIQCEgCv9pYWnhuNvQtN1fdAqh0O%2Fw2MU%2FWhSnSB%2FeEOpZAIhAP4dIy%2BrCBLLCRc4%2Bgt4FfgcLfR57t4coXAs0ir56LJ0KoMECKn%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEQBBoMMDU5MDAzNTQ2ODY1Igwv8t9KSQVdJnGUIhoq1wMgTqtWV2vBhjySmI74zVzSePaZywox%2B7TKSp6IRfXtTNj4DmYWEZWoo76n6hK77XKq92u7tAq95kPuguBQSY5oPceOu9LI2VZbqusDLQrQ7lS8rjcT%2BpDy50Z9T1EXcIEiX5vu5m5BdriH4gPuI580WtkdJ85OgZxzk20FWLgGiegFc1UboBLpe9M8%2F8sFmmS2VOT8S6aZt06vOhuHut7XNML8shK2RqU0EaZha%2BmBdmtKOtO2hA3meG%2BzoTqHdr6DYlCE3uBE7x%2BwZE9G7M9XHXLppuAGnq24riol6mLaPRGqUrhOIvUV4%2FcoKSlLQBjRiPX9is8cYev5OVGSyAWo6wPeS%2FFS6FxFdjngdYHJnx9V2%2B78KjfFf9uP1h%2B1ors%2FUp6FRSBKHTjNyOk2iJk0Of2dvygqioPTwcT4Sq%2BDWhPlW7z86YmRywO7GWleI9nbkdsfLFNs48DPkgaBBkDJ6w8Etf%2B%2FJYN2T36b6j6cmOEsVZTDnwMRkhA1RRVvYgaKefZ%2FEnQuXfZo4WMCEdjH6seQufWvI%2Fg7KivSnIM8q4yoqhwu0S3w5Eu2AQX1pZdsRR3aR%2Bv8QYVCCSbwZO1tS91DjRg3wW0qUXGseRpU0wYbfhwrzjAwtfHMigY6pAGi8DWfy8%2B43tDqSn00iw9DTArGkKrW4ge29beofXDm%2FzIlTzW1Aoi3kpFTvtCTr74r1WGGZE%2BoEeqtwzVfl1IOGjHBVsGl3agD6JMKqMSPMVOVInJKFVpiQrd3Q0htyXjW8B8elQ2k17HCetAgaXdMizrGnqTn9qB6HMrjIRv2cQ%2FOAI9ImVuXM2%2BmMZn25kQHMxj0%2FH6JrPxxRSkcbTkflDFkVw%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20210928T163423Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAQ3PHCVTY3624XVV7%2F20210928%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=633b10052ab5ab11c7c10277641bfc8c08303d445f78b523756a6f50ad1c0dca&hash=796d03c95d089bc86c916c9dc5eb13727ef4b5799bb9ae7b1607e754b4184a0d&host=68042c943591013ac2b2430a89b270f6af2c76d8dfd086a07176afe7c76c2c61&pii=S2211335520301662&tid=spdf-e7d2f424-4dd7-4140-8668-0817d4efed40&sid=2e35bb9c6dd95545ad38112251c1110254f3gxrqb&type=client" target="_blank" rel="noopener">
		Download PDF
	</a>
	</p>
	</div>
<!--
	<div class="col-xs-3">
		<img class="featured-img-thumb" src="assets/images/sample2.jpg">
	</div>
-->	
	<div class="col-xs-10 pub-list-item align-c" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
	<i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i>
	<span itemprop="author" class="pub-by">
	By: Saldarriaga E.M., Bravo-Zuniga J., Hurtado-Roca Y., Suarez V. </span>
	<a href="https://www.researchsquare.com/article/rs-30267/v1" itemprop="name" class="pub-title">
	<br>Cost-Effectiveness Analysis of A Program to Delay Progression to Dialysis and Death Among CKD Patients in Lima, Peru. Cost Effectiveness and Resource Allocation</a>.
	<br>In <em>ResearchSquare</em>,
	2021.
	<p>
	<a class="btn btn-primary btn-outline btn-xs" href="https://www.researchsquare.com/article/rs-30267/v1" target="_blank" rel="noopener">
		Read More
	</a>
	<a class="btn btn-primary btn-outline btn-xs" href="https://www.researchsquare.com/article/rs-30267/v1.pdf?c=1631859268000" target="_blank" rel="noopener">
		Download PDF
	</a>
	</p>
	</div>
<!--
	<div class="col-xs-3">
		<img class="featured-img-thumb" src="assets/images/sample2.jpg">
	</div>
-->	
	<div class="col-xs-10 pub-list-item align-c" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
	<i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i>
	<span itemprop="author" class="pub-by">
	By: Bravo-Zúñiga J, Saldarriaga EM, Chávez-Gómez R, et al.</span>
	<a href="https://www.revistas.usp.br/rsp/article/view/173522" itemprop="name" class="pub-title">
	<br>Effectiveness of adherence to a renal health program in a health network in Peru</a>.
	<br>In <em>Rev saúde Pública</em>,
	2020.
	<p>
	<a class="btn btn-primary btn-outline btn-xs" href="https://www.revistas.usp.br/rsp/article/view/173522" target="_blank" rel="noopener">
		Read More
	</a>
	<a class="btn btn-primary btn-outline btn-xs" href="https://www.revistas.usp.br/rsp/article/view/173522/162667" target="_blank" rel="noopener">
		Download PDF
	</a>
	</p>
	</div>
<!--
	<div class="col-xs-3">
		<img class="featured-img-thumb" src="assets/images/sample2.jpg">
	</div>
-->	
	<div class="col-xs-10 pub-list-item align-c" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
	<i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i>
	<span itemprop="author" class="pub-by">
	By: Shin M.B., Fiestas J.L., Saldarriaga E.M., Barnabas R.V., Gimbel S., Garcia P.J.</span>
	<a href="https://www.thelancet.com/journals/langlo/article/PIIS2214-109X(21)00120-0/fulltext" itemprop="name" class="pub-title">
	<br>Cost of community-based human papillomavirus self-sampling in Peru: a micro-costing study</a>.
	<br>In <em>The Lancet Global Health</em>,
	2021.
	<p>
	<a class="btn btn-primary btn-outline btn-xs" href="https://www.thelancet.com/journals/langlo/article/PIIS2214-109X(21)00120-0/fulltext" target="_blank" rel="noopener">
		Read More
	</a>
	<a class="btn btn-primary btn-outline btn-xs" href="https://www.thelancet.com/action/showPdf?pii=S2214-109X%2821%2900120-0" target="_blank" rel="noopener">
		Download PDF
	</a>
	</p>
	</div>
<!--
	<div class="col-xs-3">
		<img class="featured-img-thumb" src="assets/images/sample2.jpg">
	</div>
-->	
	<div class="col-xs-10 pub-list-item align-c" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
	<i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i>
	<span itemprop="author" class="pub-by">
	By: Motaze NV, Mthombothi ZE, Adetokunboh O, Hazelbag CM, Saldarriaga EM, et al. </span>
	<a href="https://pubmed.ncbi.nlm.nih.gov/33503898/" itemprop="name" class="pub-title">
	<br>The Impact of Rubella Vaccine Introduction on Rubella Infection and Congenital Rubella Syndrome: A Systematic Review of Mathematical Modelling Studies</a>.
	<br>In <em> Vaccines (Basel).</em>,
	2021.
	<p>
	<a class="btn btn-primary btn-outline btn-xs" href="https://pubmed.ncbi.nlm.nih.gov/33503898/" target="_blank" rel="noopener">
		Read More
	</a>
	<a class="btn btn-primary btn-outline btn-xs" href="#" target="" rel="noopener" disabled>
		Download PDF
	</a>
	</p>
	</div>
<!--
	<div class="col-xs-3">
		<img class="featured-img-thumb" src="assets/images/sample2.jpg">
	</div>
-->	
	<div class="col-xs-10 pub-list-item align-c" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
	<i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i>
	<span itemprop="author" class="pub-by">
	By: Saldarriaga E.M., Vodicka E, La Rosa S., Valderrama M., Garcia P.J.</span>
	<a href="https://pubmed.ncbi.nlm.nih.gov/28619417/" itemprop="name" class="pub-title">
	<br>Point-of-Care Testing for Anemia, Diabetes, and Hypertension: A Pharmacy-Based Model in Lima, Peru</a>.
	<br>In <em>Annals of Global Health</em>,
	2017.
	<p>
	<a class="btn btn-primary btn-outline btn-xs" href="https://pubmed.ncbi.nlm.nih.gov/28619417/" target="_blank" rel="noopener">
		Read More
	</a>
	<a class="btn btn-primary btn-outline btn-xs" href="#" target="" rel="noopener" disabled>
		Download PDF
	</a>
	</p>
	</div>
<!--
	<div class="col-xs-3">
		<img class="featured-img-thumb" src="assets/images/sample2.jpg">
	</div>
-->	
	<div class="col-xs-10 pub-list-item align-c" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
	<i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i>
	<span itemprop="author" class="pub-by">
	By: Siña M., Wood R.C., Saldarriaga E., et al. </span>
	<a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0147201" itemprop="name" class="pub-title">
	<br>Understanding Perceptions of Climate Change, Priorities, and Decision-Making among Municipalities in Lima, Peru to Better Inform Adaptation and Mitigation Planning</a>.
	<br>In <em>PLoS ONE</em>,
	2016.
	<p>
	<a class="btn btn-primary btn-outline btn-xs" href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0147201" target="_blank" rel="noopener">
		Read More
	</a>
	<a class="btn btn-primary btn-outline btn-xs" href="https://journals.plos.org/plosone/article/file?id=10.1371/journal.pone.0147201&type=printable" target="_blank" rel="noopener">
		Download PDF
	</a>
	</p>
	</div>
<!--
	<div class="col-xs-3">
		<img class="featured-img-thumb" src="assets/images/sample2.jpg">
	</div>
-->	
	<div class="col-xs-10 pub-list-item align-c" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
	<i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i>
	<span itemprop="author" class="pub-by">
	By: Saldarriaga E.M., Hauber B., Carlson J.J., Barthold D., Veenstra, D.L., Devine, B.</span>
	<a href="#" itemprop="name" class="pub-title"class="pub-title">
	<br>Assessing payers’ preferences for Real World Evidence in the United States: A Discrete Choice Experiment</a>.
	<br>In <em>Value in Health. [Accepted]</em>,
	2021.
	<p>
	<a class="btn btn-primary btn-outline btn-xs" href="#" target="" rel="noopener" disabled>
		Read More
	</a>
	<a class="btn btn-primary btn-outline btn-xs" href="#" target="" rel="noopener" disabled>
		Download PDF
	</a>
	</p>
	</div>
<!--
	<div class="col-xs-3">
		<img class="featured-img-thumb" src="assets/images/sample2.jpg">
	</div>
-->	
	<div class="col-xs-10 pub-list-item align-c" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
	<i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i>
	<span itemprop="author" class="pub-by">
	By: Saldarriaga E.M., Cárcamo C., Babigumira J., García P.J.</span>
	<a href="#" itemprop="name" class="pub-title">
	<br>The Annual Costs of Treating Genital Warts in the Public Healthcare Sector in Peru</a>.
	<br>In <em>BMC Health Services. [Accepted]</em>,
	2021.
	<p>
	<a class="btn btn-primary btn-outline btn-xs" href="#" target="" rel="noopener" disabled>
		Read More
	</a>
	<a class="btn btn-primary btn-outline btn-xs" href="#" target="" rel="noopener" disabled>
		Download PDF
	</a>
	</p>
	</div>
</div>
</div>
</section>
