<div class="container">
	<section class="home-section mh90">
	<img src="/assets/images/img3.jpeg" class="project-img">
	<div class="col-xs-12 section-heading">
		<h1>Sub-saharan Africa</h1>
		<p>Below is a list of the projects I am currently involed in</p>
	</div>
		<ol>
		<li>Costing analysis of theimplementation of an Adolescent Transition Package (ATP) within the Adolescent Transition To Adult Care for HIV-infected adolescents in Kenya (ATTACH) clinical trial
		</li>
		<li>Microcosting analysis of five techniques of cervical cancer screening within a cohort study of HIV positive and negative participants, in Kericho and Kisumu, Kenya
		</li>
		</ol>
	<p class="view-all" style="text-align:center; margin-top:12rem;">
      <a href="/latin-america">
        Projects: Latin-America
        <i class="fa fa-angle-double-right"></i>
      </a>
	  <br>
	  <a href="/north-america">
        Projects: North America
        <i class="fa fa-angle-double-right"></i>
      </a>
    </p> 
	</section>
</div>
