<div class="container">
	<section class="home-section mh90">
	<img src="/assets/images/img3.jpeg" class="project-img">
	<div class="col-xs-12 section-heading">
		<h1>Latin America</h1>
		<p>Below is a list of the projects I am currently involed in</p>
	</div>
		<ol>
		<li>Impact of COVID-19 in healthcare access and quality among patients diagnosed with Down Syndrome in Peru.
		</li>
		<li>Income-Elasticity of the Body Mass Index. Results from a Peruvian Household Survey.
		</li>
		<li>Cost-effectiveness analysis of identifying acute HIV infection in a hot epidemic in Lima, Peru
		</li>
		<li>Cervical cancer and HPV vaccination in Peru: a mathematical modelling study
		</li>
		</ol>
	<p class="view-all" style="text-align:center; margin-top:12rem;">
      <a href="/north-america">
        Projects: North-America
        <i class="fa fa-angle-double-right"></i>
      </a>
	  <br>
	  <a href="/sub-saharan-africa">
        Projects: Sub-saharan Africa
        <i class="fa fa-angle-double-right"></i>
      </a>
    </p> 
	</section>
</div>
