	<section id="publications" class="home-section mh90">
    <div class="container">
	<div class="row flex-c">
	
	<div class="col-xs-12 section-heading">
    <h1>Publications</h1>
    <p class="view-all">
	List of my peer reviewed publications.
    </p>   
	</div>
	
<!--
	<div class="col-xs-3">
		<img class="featured-img-thumb" src="assets/images/sample2.jpg">
	</div>
-->	
	<div class="col-xs-10 pub-list-item align-c" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
		<i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i>
		<span itemprop="author" class="pub-by">
		By: Ulrich AK, Adamson BJ, Saldarriaga EM, Grecca RDL, Wood D, Babigumira JB, et al.</span>
		<a href="https://www.sciencedirect.com/science/article/pii/S2667193X22000989" itemprop="name" class="pub-title">
		<br>Finding and treating early-stage HIV infections: A cost-effectiveness analysis of the Sabes study in Lima, Peru</a>.
		<br>In <em>The Lancet Regional Health - Americas</em>,
		2022.
		<p>
		<a class="btn btn-primary btn-outline btn-xs" href="https://www.sciencedirect.com/science/article/pii/S2667193X22000989" target="" rel="noopener">
			Read More
		</a>
		<a class="btn btn-primary btn-outline btn-xs" href="https://reader.elsevier.com/reader/sd/pii/S2667193X22000989?token=D30FB6FAADEA5D87E1182E166E9EA07A8A0F1DB0CCDACD93389A5884260BBB39B2D588FC6E8CA81ACC11539FC3C2EF98&originRegion=us-east-1&originCreation=20220727231345" target="_blank" rel="noopener">
			Download PDF
		</a>
		</p>
	</div>
	<div class="col-xs-10 pub-list-item align-c" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
		<i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i>
		<span itemprop="author" class="pub-by">
		By: Shin M.B., Fiestas J.L., Saldarriaga E.M., Barnabas R.V., Gimbel S., Garcia P.J.</span>
		<a href="https://www.thelancet.com/journals/lanam/article/PIIS2667-193X(21)00156-3/fulltext" itemprop="name" class="pub-title">
		<br>Cost of community-based human papillomavirus self-sampling in Peru: A micro-costing study</a>.
		<br>In <em>The Lancet Regional Health – Americas</em>,
		2022.
		<p>
		<a class="btn btn-primary btn-outline btn-xs" href="https://www.thelancet.com/journals/lanam/article/PIIS2667-193X(21)00156-3/fulltext" target="_blank" rel="noopener">
			Read More
		</a>
		<a class="btn btn-primary btn-outline btn-xs" href="https://www.thelancet.com/journals/lanam/article/PIIS2667-193X(21)00156-3/fulltext" target="_blank" rel="noopener">
			Download PDF
		</a>
		</p>
	</div>
	<div class="col-xs-10 pub-list-item align-c" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
		<i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i>
		<span itemprop="author" class="pub-by">
		By: Saldarriaga E.M., Hauber B., Carlson J.J., Barthold D., Veenstra, D.L., Devine, B.</span>
		<a href="https://www.valueinhealthjournal.com/article/S1098-3015(21)01757-5/fulltext" itemprop="name" class="pub-title"class="pub-title">
		<br>Assessing payers’ preferences for Real World Evidence in the United States: A Discrete Choice Experiment</a>.
		<br>In <em>Value in Health. [Ahead of press]</em>,
		2021.
		<p>
		<a class="btn btn-primary btn-outline btn-xs" href="https://www.valueinhealthjournal.com/article/S1098-3015(21)01757-5/fulltext" target="" rel="noopener">
			Read More
		</a>
		<a class="btn btn-primary btn-outline btn-xs" href="#" target="" rel="noopener" disabled>
			Download PDF
		</a>
		</p>
	</div>
	<div class="col-xs-10 pub-list-item  align-c" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
		<i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i>
		<span itemprop="author" class="pub-by">
		By: Saldarriaga E.M.</span>
		<a href="https://annalsofglobalhealth.org/article/10.5334/aogh.3345/" itemprop="name" class="pub-title">
		<br>HIV-Prevalence Mapping Using Small Area Estimation in Kenya, Tanzania, and Mozambique at the First Sub-National Level</a>.
		<br>In <em>Annals Of Global Health</em>,
		2021.
		<p>
		<a class="btn btn-primary btn-outline btn-xs" href="https://annalsofglobalhealth.org/article/10.5334/aogh.3345/" target="_blank" rel="noopener">
			Read More
		</a>
		<a class="btn btn-primary btn-outline btn-xs" href="https://annalsofglobalhealth.org/articles/10.5334/aogh.3345/galley/3341/download/" target="_blank" rel="noopener">
			Download PDF
		</a>
		</p>
	</div>
<!--
	<div class="col-xs-3">
		<img class="featured-img-thumb" src="assets/images/sample2.jpg">
	</div>
-->
	<div class="col-xs-10 pub-list-item align-c" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
		<i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i>
		<span itemprop="author" class="pub-by">
		By: Saldarriaga E.M., Bravo-Zuniga J., Hurtado-Roca Y., Suarez V. </span>
		<a href="https://resource-allocation.biomedcentral.com/articles/10.1186/s12962-021-00317-0" itemprop="name" class="pub-title">
		<br>Cost-Effectiveness Analysis of A Program to Delay Progression to Dialysis and Death Among CKD Patients in Lima, Peru. Cost Effectiveness and Resource Allocation</a>.
		<br>In <em>Cost Effectiveness and Resource Allocation Journal</em>,
		2021.
		<p>
		<a class="btn btn-primary btn-outline btn-xs" href="https://resource-allocation.biomedcentral.com/articles/10.1186/s12962-021-00317-0" target="_blank" rel="noopener">
			Read More
		</a>
		<a class="btn btn-primary btn-outline btn-xs" href="https://resource-allocation.biomedcentral.com/track/pdf/10.1186/s12962-021-00317-0.pdf" target="_blank" rel="noopener">
			Download PDF
		</a>
		</p>
	</div>
<!--
	<div class="col-xs-3">
		<img class="featured-img-thumb" src="assets/images/sample2.jpg">
	</div>
-->	
	<div class="col-xs-10 pub-list-item align-c" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
		<i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i>
		<span itemprop="author" class="pub-by">
		By: Saldarriaga E.M., Cárcamo C., Babigumira J., García P.J.</span>
		<a href="https://bmchealthservres.biomedcentral.com/articles/10.1186/s12913-021-07120-w" itemprop="name" class="pub-title">
		<br>The Annual Costs of Treating Genital Warts in the Public Healthcare Sector in Peru</a>.
		<br>In <em>BMC Health Services</em>,
		2021.
		<p>
		<a class="btn btn-primary btn-outline btn-xs" href="https://bmchealthservres.biomedcentral.com/articles/10.1186/s12913-021-07120-w" target="_blank" rel="noopener">
			Read More
		</a>
		<a class="btn btn-primary btn-outline btn-xs" href="https://bmchealthservres.biomedcentral.com/track/pdf/10.1186/s12913-021-07120-w.pdf" target="" rel="noopener">
			Download PDF
		</a>
		</p>
	</div>
<!--
	<div class="col-xs-3">
		<img class="featured-img-thumb" src="assets/images/sample2.jpg">
	</div>
-->
	<div class="col-xs-10 pub-list-item align-c" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
		<i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i>
		<span itemprop="author" class="pub-by">
		By: Miller M., Saldarriaga E.M., Jones-Smith J.C.</span>
		<a href="https://www.sciencedirect.com/science/article/pii/S2211335520301662?via%3Dihub" itemprop=" name"class="pub-title">
		<br>Household socioeconomic status modifies the association between neighborhood SES and obesity in a nationally representative sample of first grade children in the United States. Preventive Medicine Reports</a>.
		<br>In <em>ScienceDirect</em>,
		2020.
		<p>
		<a class="btn btn-primary btn-outline btn-xs" href="https://www.sciencedirect.com/science/article/pii/S2211335520301662?via%3Dihub" target="_blank" rel="noopener">
			Read More
		</a>
		<a class="btn btn-primary btn-outline btn-xs" href="https://www.sciencedirect.com/science/article/pii/S2211335520301662?via%3Dihub" target="_blank" rel="noopener" disabled>
			Download PDF
		</a>
		</p>
	</div>
<!--
	<div class="col-xs-3">
		<img class="featured-img-thumb" src="assets/images/sample2.jpg">
	</div>
-->	
	<div class="col-xs-10 pub-list-item align-c" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
		<i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i>
		<span itemprop="author" class="pub-by">
		By: Bravo-Zúñiga J, Saldarriaga EM, Chávez-Gómez R, et al.</span>
		<a href="https://www.revistas.usp.br/rsp/article/view/173522" itemprop="name" class="pub-title">
		<br>Effectiveness of adherence to a renal health program in a health network in Peru</a>.
		<br>In <em>Rev saúde Pública</em>,
		2020.
		<p>
		<a class="btn btn-primary btn-outline btn-xs" href="https://www.revistas.usp.br/rsp/article/view/173522" target="_blank" rel="noopener">
			Read More
		</a>
		<a class="btn btn-primary btn-outline btn-xs" href="https://www.revistas.usp.br/rsp/article/view/173522/162667" target="_blank" rel="noopener">
			Download PDF
		</a>
		</p>
	</div>
<!--
	<div class="col-xs-3">
		<img class="featured-img-thumb" src="assets/images/sample2.jpg">
	</div>
-->	
<!--
	<div class="col-xs-3">
		<img class="featured-img-thumb" src="assets/images/sample2.jpg">
	</div>
-->	
	<div class="col-xs-10 pub-list-item align-c" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
		<i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i>
		<span itemprop="author" class="pub-by">
		By: Motaze NV, Mthombothi ZE, Adetokunboh O, Hazelbag CM, Saldarriaga EM, et al. </span>
		<a href="https://pubmed.ncbi.nlm.nih.gov/33503898/" itemprop="name" class="pub-title">
		<br>The Impact of Rubella Vaccine Introduction on Rubella Infection and Congenital Rubella Syndrome: A Systematic Review of Mathematical Modelling Studies</a>.
		<br>In <em> Vaccines (Basel).</em>,
		2021.
		<p>
		<a class="btn btn-primary btn-outline btn-xs" href="https://pubmed.ncbi.nlm.nih.gov/33503898/" target="_blank" rel="noopener">
			Read More
		</a>
		<a class="btn btn-primary btn-outline btn-xs" href="#" target="" rel="noopener" disabled>
			Download PDF
		</a>
		</p>
	</div>
<!--
	<div class="col-xs-3">
		<img class="featured-img-thumb" src="assets/images/sample2.jpg">
	</div>
-->	
	<div class="col-xs-10 pub-list-item align-c" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
		<i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i>
		<span itemprop="author" class="pub-by">
		By: Saldarriaga E.M., Vodicka E, La Rosa S., Valderrama M., Garcia P.J.</span>
		<a href="https://pubmed.ncbi.nlm.nih.gov/28619417/" itemprop="name" class="pub-title">
		<br>Point-of-Care Testing for Anemia, Diabetes, and Hypertension: A Pharmacy-Based Model in Lima, Peru</a>.
		<br>In <em>Annals of Global Health</em>,
		2017.
		<p>
		<a class="btn btn-primary btn-outline btn-xs" href="https://pubmed.ncbi.nlm.nih.gov/28619417/" target="_blank" rel="noopener">
			Read More
		</a>
		<a class="btn btn-primary btn-outline btn-xs" href="#" target="" rel="noopener" disabled>
			Download PDF
		</a>
		</p>
	</div>
<!--
	<div class="col-xs-3">
		<img class="featured-img-thumb" src="assets/images/sample2.jpg">
	</div>
-->	
	<div class="col-xs-10 pub-list-item align-c" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
		<i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i>
		<span itemprop="author" class="pub-by">
		By: Siña M., Wood R.C., Saldarriaga E., et al. </span>
		<a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0147201" itemprop="name" class="pub-title">
		<br>Understanding Perceptions of Climate Change, Priorities, and Decision-Making among Municipalities in Lima, Peru to Better Inform Adaptation and Mitigation Planning</a>.
		<br>In <em>PLoS ONE</em>,
		2016.
		<p>
		<a class="btn btn-primary btn-outline btn-xs" href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0147201" target="_blank" rel="noopener">
			Read More
		</a>
		<a class="btn btn-primary btn-outline btn-xs" href="https://journals.plos.org/plosone/article/file?id=10.1371/journal.pone.0147201&type=printable" target="_blank" rel="noopener">
			Download PDF
		</a>
		</p>
	</div>
</div>
</div>
</section>
